*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#0d0d0d;
    color:white;
}

header{
    background:#111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    border-bottom:2px solid gold;
    position:sticky;
    top:0;
    z-index:999;
}

.logo{
    color:gold;
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

nav a:hover{
    color:orange;
}

.hero{
    height:100vh;
    background:url("assets/New KOF-01 (1).jpg") center center/cover;
    position:relative;
}

.overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.65);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.overlay h1{
    font-size:60px;
    color:gold;
}

.overlay p{
    margin-top:15px;
    font-size:22px;
}

.overlay button{
    margin-top:30px;
    padding:15px 40px;
    background:orange;
    border:none;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.overlay button:hover{
    background:gold;
    color:black;
}

.guild-info{
    padding:80px 20px;
    text-align:center;
}

.guild-info h2{
    color:gold;
    margin-bottom:40px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:#1b1b1b;
    border:1px solid orange;
    border-radius:12px;
    padding:25px;
}

.card h3{
    color:orange;
}

.card p{
    margin-top:15px;
    font-size:28px;
    color:gold;
}

.register{
    padding:80px 20px;
    text-align:center;
}

.register h2{
    color:gold;
    margin-bottom:30px;
}

form{
    max-width:500px;
    margin:auto;
}

input{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    background:#1a1a1a;
    border:1px solid orange;
    color:white;
}

form button{
    width:100%;
    padding:15px;
    background:orange;
    border:none;
    color:white;
    cursor:pointer;
}

.members{
    padding:80px 20px;
}

.members h2{
    text-align:center;
    color:gold;
    margin-bottom:30px;
}

table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
}

th{
    background:orange;
}

th,td{
    border:1px solid #444;
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#1a1a1a;
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    border-top:2px solid gold;
}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:10px;
    }

    .overlay h1{
        font-size:40px;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }
}
